.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.page-container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body.AnErrorHasOccured
{
  background:  linear-gradient(217deg, rgba(182, 62, 238, 0.8), rgba(255,0,0,0) 70.71%)
                ,linear-gradient(127deg, rgba(0, 195, 255, 0.8), rgba(0,255,0,0) 70.71%)
                ,linear-gradient(336deg, rgba(25, 0, 255, 0.8), rgba(0,0,255,0) 70.71%);
              }

.scroll-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
}

.scroll-container .indicator {
  height: 100%;
  background: rgb(83, 81, 235);
}

.scroll-to-top {
  position: fixed;
  bottom: 8px;
  left: 50%;
  width: 45px;
  height: 45px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  background-color: rgb(83, 81, 235);
  color: rgb(255, 255, 255);
  z-index: 1;
}
.scroll-to-top .icon {
  place-items: center;
  margin-top: -8px;
  font-size: 30px;
  animation: scrollTop 0.3s alternate ease infinite;
}
@keyframes scrollTop {
  from {
      transform: translateY(5px);
  }
  to {
      transform: translateY(1px);
  }
}

.decoration-inside{
  text-align:left; /* ตำแหน่งที่จะให้เส้นอยู่ Left/Right/Center */  
  height: 270px; /* ความสูงของเส้น */
  width: 3px; /* ความหนาของเส้น */
  background-color: rgb(162, 159, 159); /* สีของเส้น */
  display:block;
}

::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-track{
  background: #FFF;
}

::-webkit-scrollbar-thumb{
  background-image: linear-gradient(rgb(83, 29, 233),rgb(243, 65, 184));
  border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover{
  background-image: linear-gradient(#5bccee, #190aee);
}